$tab-border-color: #f6f6f6;
$tab-hover-color:#f6f6f6;
.ducky-layout-tabs {
  flex: 0;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #f6f6f6;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 0 50px 0 50px;
  box-sizing: border-box;
  .ducky-tab-prev,
  .ducky-tab-next {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
    cursor: pointer;
    z-index: 999;
    background-color: #ffffff;
  }
  .ducky-tab-prev:hover,
  .ducky-tab-next:hover {
    background-color: $tab-hover-color;
  }
  .ducky-tab-prev {
    left: 0;
    border-right: 1px solid $tab-border-color;
  }
  .ducky-tab-next {
    right: 0;
    border-left: 1px solid $tab-border-color;
  }
  .ducky-tabs-container {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    box-sizing: border-box;
    z-index: 998;
    transition: all .2s;
    .ducky-tab{
        display: inline-block;
        box-sizing: border-box;
        height: 50px;
        line-height: 54px;
        text-align: center;
        padding: 0 20px;
        border-right: 1px solid $tab-border-color;
        cursor: pointer;
        font-size: 14px;
        transition: all .2s;
        position: relative;
        i{
            margin-left: 5px;
            box-sizing: border-box;
            border: 1px solid #fff;
        }
        i:hover{
            border: 1px solid #ccc;
            border-radius: 50%;
            color: #fff;
            background-color: #ccc;
        }
    }
    .ducky-tab:hover{
        i{
            border: 1px solid #f6f6f6;
        }
        background-color:#f6f6f6;
    }
    .ducky-tab::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 2px;
        border-radius: 0;
        background-color: #292B34;
        transition: all .3s;
        -webkit-transition: all .3s;
    }
    .ducky-tab:hover::after{
        width: 100%;
    }
    
  }
}